.sub-tab {
    padding: 0;
}

.sub-tab ul li {
    width: 50%;
}

/* 구성체계 */
.committee-wrap {
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    margin: 40px 0;
}

.detail-wrap {
    padding: 44px
}

.detail-wrap dl dt .num {
    display: block;
    width: 20px;
    height: 20px;
    background-color: blue;
}

.detail-wrap dt {
    font-weight: 700;
}

.detail-wrap .detail-tit1::before {
    /* content: "❶"; */
    content: "1";
    display: inline-block;
    background-color: #d0d5dd;
    padding: 0 10px;
    border-radius: 100%;
    color: #fff;
    margin-right: 8px;
}
.detail-wrap .detail-tit2::before {
    /* content: "❶"; */
    content: "2";
    display: inline-block;
    background-color: #d0d5dd;
    padding: 0 10px;
    border-radius: 100%;
    color: #fff;
    margin-right: 8px;
}

.committee-wrap .detail-wrap .etc-detail {
    padding: 24px;
    margin: 24px 0 32px 0;
    background-color: #f6f5f6;
    border-radius: 10px;
    font-size: 17px;
}

.committee-wrap .detail-wrap dt {
    margin-bottom: 20px;
    font-size: 19px;
}

.detail-wrap dd {
    color: #555;
}

.committee-wrap .detail-wrap span {
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
}


.committee-wrap .top-area {
    padding: 12px 44px;
    background-color: #D0D5DD;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

.committee-wrap .top-area dt {
    font-weight: 700;
    font-size: 24px;
}

.committee-wrap .top-area dd {
    margin-left: 8px;
}

/* 청년정책조정위원회 */
.organization-wrap {
    margin: 64px 0;
}

.organization-wrap .top {
    width: 212px;
    height: 212px;
    /* padding-right: 24px 36px; */
    margin: 12px auto 91px;
    background-color: #ccc;
    border-radius: 100%;
    text-align: center;
    line-height: 212px;
    font-size: 21px;
    font-weight: 700;
}

.organization {
    background-color: #F0F0F0;
    padding: 24px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.organization dt {
    font-weight: 700;
    font-size: 19px;
    margin-right: 12px;
}

#main h3 {
    /* padding: 24px 20px; */
    width: 250px;
    height: 69px;
    line-height: 69px;
    border-radius: 50px;
    color: #fff;
    margin: 30px auto 0;
    text-align: center;
    z-index: 10;
}

#main h3.tit-sub1 { background-color: #7A45C6; margin-top: -30px}
h3.tit-sub2 { background-color: #018181; }
h3.tit-sub3 { background-color: #0074E5; }

.organization-group {
    padding: 20px;
}

.organization-group li::before {
    content: "· ";
}

.sub-group1 {
    border: 1px solid #d0d5dd;
    border-radius: 10px;
}

.organization-group.vice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -1;
}

.organization-group.country li {
    padding: 12px 2px 12px 23px;
    font-weight: 700;
}

.organization-group.country li:nth-child(odd) {
    background-color: #F6F5F6;
    border-radius: 4px;
}

.organization-group.country, .organization-group.member {
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    margin-top: 35px;
}

.organization-group li {
    margin-bottom: 4px;
}

.member li {
    display: flex;
    padding: 12px 2px 12px 23px;
}

.organization-group.member li:nth-child(odd) {
    background-color: #F6F5F6;
    border-radius: 4px;
}

.member strong, .member span {
    display: block;
}

.member span {
    flex: 1;
}

.member strong {
    width: 93px;
}


/* 모바일~테블릿 */
@media screen and (max-width: 650px){

}

/* 테블릿~pc */
@media screen and (min-width: 650px){
    .sub-bottom-group {
        display: flex;
        justify-content: space-between;
    }

    .organization-wrap .organization {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}