.sub-tab {
    padding: 0;
}

.sub-tab ul li {
    width: 50%;
}

/* 구성체계 */
.committee-wrap {
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    margin: 40px 0;
}

.detail-wrap {
    padding: 12px 22px;
}

.detail-wrap dt {
    font-weight: 700;
}

.committee-wrap .detail-wrap .etc-detail {
    padding: 24px;
    margin: 24px 0 32px 0;
    background-color: #f6f5f6;
    border-radius: 10px;
}

.committee-wrap .detail-wrap dt {
    margin-bottom: 20px;
    font-size: 19px;
}

.committee-wrap .detail-wrap span {
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
}

.committee-wrap .top-area dt {
    font-weight: 700;
    font-size: 24px;
}

.committee-wrap .top-area {
    padding: 12px 22px;
    background-color: #D0D5DD;
    border-radius: 10px 10px 0 0;
}

/* 청년정책조정위원회 */
.organization-wrap {
    margin: 64px 0;
}

.organization {
    background-color: #F0F0F0;
    padding: 24px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.organization dt {
    font-weight: 700;
    font-size: 19px;
}

#main h3 {
    /* padding: 24px 20px; */
    width: 250px;
    height: 69px;
    line-height: 69px;
    border-radius: 50px;
    color: #fff;
    margin: 30px auto 0;
    text-align: center;
    z-index: 10;
}

#main h3.tit-sub1 { background-color: #7A45C6; margin-top: -30px}
h3.tit-sub2 { background-color: #018181; }
h3.tit-sub3 { background-color: #0074E5; }

.organization-group {
    padding: 20px;
}

.organization-group li::before {
    content: "· ";
}

.sub-group1 {
    border: 1px solid #d0d5dd;
    border-radius: 10px;
}

.organization-group.vice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -1;
}

.organization-group.country li {
    font-weight: 700;
}

.organization-group.country, .organization-group.member {
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    margin-top: 35px;
}

.organization-group li {
    margin-bottom: 20px;
}


.member li {
    display: flex; 
    
}

.member strong, .member span {
    display: block;
}

.member span {
    flex: 1;
}

.member strong {
    width: 93px;
}


/* 모바일~테블릿 */
@media screen and (max-width: 360px){

}

/* 테블릿~pc */
@media screen and (min-width: 650px){
    .sub-bottom-group {
        display: flex;
        justify-content: space-between;
    }   
}