#main dt {
    font-weight: 700;
    margin-bottom: 10px;
}

#main dd {
    margin: 0;
}

.cont-info dd {
    display: flex;
    flex-direction: column;
}

.cont-info dd button {
    margin-top: 10px;
}

.banner-btn button {
    width: 100%;
    height: 56px;
}

/* 검색 폼 */
fieldset {
    padding: 32px 24px;
    margin: 40px 0;
    background-color: #F0F0F0;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
}

fieldset dd {
    display: none;
}

fieldset dt {
    background-color: #fff;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
}

.area {
    display: flex;
}

/* .area-search {
    padding: 5px 50px 10px 5px;
} */

/* 앨범 목록 */
.album-list .item .label {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #ccc;
}

.album-list .item dl dt {
    font-size: 19px;
}

.album-list .item dl .img-mask {
    width: 100%;
    height: 120px;
    background-color: #ccc;
    border-radius: 10px;
}

.album-list .item dl dd {
    display: flex;
    flex-direction: row;
}

.album-list .item dl dd span {
    display: inline-block;
    font-weight: 700;
    width: 100px;
}

.album-list .item p {
    text-align: center;
}

/* sos !! 주소 부분 말줄임 하려고 했는데
적용이 안 되는 건지.. */
/* .album-list .test {
    overflow: hidden;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
} */


/* 모바일~테블릿 */
@media screen and (max-width: 360px){

}

/* 테블릿~pc */
@media screen and (max-width: 650px){

}