@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-size: 16px;
    font-display: swap;
}

* { font-family: 'Escoredream'; }

.popup-wrap input{
    display: none;
}

.popup-wrap {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    /* width: 100%;
    height: 100vh; 화면의높이? */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrap .popup-box {
    width: 400px;
    /* background-color: white; */
    display: flex;
    flex-direction: column; /* row */
    /* position: relative; */
    padding: 0 10px;
}

.popup-wrap .popup-box .popup-tit {
    font-size: 35px;
    font-weight: 700;
    margin: 0 auto 30px;
    color: #fff;
}

.popup-wrap .popup-box .popup-area {
    width: 100%;
}

.popup-wrap .popup-box .close-btn {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.popup-wrap .popup-box .cont { flex: 1; display: flex; }
.popup-wrap .popup-box .cont .img-mask {
    overflow: hidden;
    position: relative;
}
.popup-wrap .popup-box .cont .img-mask img {
    width: 100%;
}
.popup-wrap .popup-box .controls { font-size: 15px; display: flex; gap: 16px; justify-content: center; }
.popup-wrap .popup-box .controls .btn { padding: 12px 20px; background-color: #000; border-radius: 40px; color: #fff; }

.popup-wrap .popup-box .controls .btn label {
    display: flex;
    align-items: center;
}

/* 체크박스 배경 생성 */
.popup-wrap .popup-box label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/icon/check-box-w.svg) no-repeat;
    background-size: 25px 25px;
}

.popup-wrap .popup-box label.check::before {
    background-image: url(../images/icon/check-box-on-w.svg);
}


/* 스와이퍼 */

html, body {
position: relative;
}

.popup-wrap .swiper {
width: 100%;
height: 100%;
}

.popup-wrap .swiper-slide {
text-align: center;
font-size: 18px;
background: #444;
display: flex;
justify-content: center;
align-items: center;
}

.popup-wrap .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.popup-wrap .swiper-button-next, .swiper-button-prev {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    padding: 10px;
    border: 1px solid #D0D5DD;
    color: #333;
}

.popup-wrap .swiper-button-prev.swiper-button-disabled {
    display: none;
}
.popup-wrap .swiper-button-next.swiper-button-disabled {
    display: none;
}

.popup-wrap .popup-box .swiper-pagination {
    position: relative;
    bottom: 0;
    margin: 15px 0;
}

.popup-wrap .popup-box .swiper-pagination-bullet {
    background: #999;
}

.popup-wrap .popup-box .swiper-pagination-bullet-active {
    background: #fff;
}

/* 배너 영역 */
.inner.banner {
    position: relative;
}

.banner-area {
    width: 100%;
    position: relative;
}

.banner-area .img-mask {
    aspect-ratio: 1180 / 460;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.banner-area .img-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.banner-area .page-num-area {
    position: absolute; right: 8px; bottom: 102%;
    z-index: 10;
    padding: 4px 12px;
    background-color: #fff;
    border: 1px solid #D0D5DD;
    border-radius: 58px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.banner-area .page-num-area button {
    background-color: #F9F9F9;
    border-radius: 90px;
    flex-shrink: 0;
    color: #777777;
}

.banner-area .page-num-area .icon-m.swiper-button-disabled {
    color: #b3b3b3;
}

.swiper-pagination-current {
    color: #F3557F;
}

/* 스와이퍼 */
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    /* height: 100%; */
    /* aspect-ratio: 1180/460; */
    overflow: visible;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.login-search-wrap {
    background: linear-gradient(0deg, rgba(210, 231, 243, 1) 0%, rgba(255, 255, 255, 1) 40%);
    padding-bottom: 40px;
}

.login-search {
    margin-bottom: 80px;
}

/* 로그인 영역 */
.login-area fieldset, .search-ranking fieldset {
    border: 0 none;
}

.login-area strong, .search-area strong {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 16px;
}
.search-area strong span {
    font-weight: 400;
}
.login-area .login-box, .search-area .search-ranking {
    margin-top: 16px;
}

.login-area {
    display: flex;
    margin-top: 80px;
}

.login-area form {
    flex: 1;
}
.login-area fieldset {
    height: 100%;
}

.login-area .login-box {
    border: 3px solid #D0D5DD;
    border-radius: 20px;
    background-color: #fff;
}
.login-area .login-inner {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.login-area .login-box span {
    font-size: 14px;
    font-weight: 700;
}

.login-area .login-box input {
    border-radius: 8px;
}

.login-area .login-box button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 16px 25px;;
}

/* 검색 및 순위 */
.search-area {
    margin-top: 80px;
}

.search-area .search-ranking {
    padding: 24px;
    border: 3px solid #D0D5DD;
    border-radius: 20px;
    background-color: #fff;
}

.search-area .search-box {
    display: flex;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
}

.search-area input {
    border: 0 none;
}

.search-area .search-box button {
    /* background-color: lightblue; */
    width: 50px;
}

.search-area dt {
    padding: 8px 0;
    margin: 24px 0 16px 0;
    font-weight: 700;
}

.search-area dl ol:first-child {
    margin-bottom: 16px;
}

.search-area dl ol li {
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
}

.search-area dl ol li:last-child {
    margin-bottom: 0;
}

.search-area dl ol li .num {
    display: inline-block;
    color: #246BE0;
    border: 1px solid #246BE0;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
}

.search-area dl ol li .desc {
    flex: 1;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-area dl ol li .arrow {
    display: inline-block;
    text-align: center;
}

.search-area dl ol li .arrow.up {
    color: #FF0000;
}

.search-area dl ol li .arrow.down {
    color: #0066FF;
}

.search-area .search-box svg {
    color: #246BE0;
    width: 30px;
}

/* 모바일~테블릿 */
@media screen and (max-width: 650px){
    .banner-area .page-num-area button {
        display: none;
    }

    .banner-area .img-mask{
        aspect-ratio: 554 / 347;
    }
}

/* 테블릿~pc */
@media screen and (min-width: 650px){
    .banner-area .page-num-area {
        padding: 8px 16px;
        font-size: 16px;
        bottom: 16px;
        right: 16px;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    }
    .popup-wrap .popup-box { width: 800px; }
    .popup-wrap .swiper-button-prev, .popup-wrap .swiper-button-next {
        display: none;
    }
    .popup-wrap .popup-box .controls {
        margin-top: 30px;
    }
}

/* pc */
@media screen and (min-width: 1280px){
    .login-search {
        display: flex;
        gap: 40px;
    }

    .search-area {
        width: 65%;
    }

    .login-area {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    
    .login-area .login-box {
        flex: 1;
        margin-top: 0;
    }

   .container {
        display: block;
    }

   #main {
        padding-left: 0;
    }


    .search-ranking {
        position: relative;
    }
    .search-area dt {
        margin: 0 0 20px 0;
        padding: 0;
    }
    .search-area .search-box {
        position: absolute; top: 16px; right: 24px;
        max-width: 60%;
    }
    .search-area dd {
        display: flex;
        gap: 30px;
    }
    .search-area dl ol {
        width: calc(50% - 15px);
    }
    .search-area dl ol:first-child {
        margin: 0;
    }
}